@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("BjAYBlHtW3CJxDcjzrnZCOZiE7IA0Up7-VwGqa0iGVY.eot")/*tpa=http://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCOZiE7IA0Up7-VwGqa0iGVY.eot*/;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url("erE3KsIWUumgD1j_Ca-V-_Y6323mHUZFJMgTvxaG2iE.eot")/*tpa=http://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-_Y6323mHUZFJMgTvxaG2iE.eot*/;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("fVu1p3782bqS2z-CaJvp9lQlYEbsez9cZjKsNMjLOwM.eot")/*tpa=http://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9lQlYEbsez9cZjKsNMjLOwM.eot*/;
}
